body{
    text-align:center;
    font-family:Arial;
    background:#111;
    color:white;
}

#piano{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    margin-top:40px;
}

.piano-section{
    position:relative;
    display:flex;
}

.key{
    width:36px;
    height:180px;
    background:white;
    border:1px solid black;
    margin:1px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:6px;
    cursor:pointer;
    color:black;
}

.black-key{
    width:24px;
    height:110px;
    background:black;
    position:absolute;
    top:0;
    z-index:2;
    color:white;
    border-radius:0 0 4px 4px;
}

.key.active{
    background:#ddd;
    transform:scale(0.97);
}

.note{
    font-size:10px;
    color:black;
    font-weight:bold;
}

.kbd{
    font-size:12px;
    color:#444;
    font-weight:bold;
}