body{
    text-align:center;
    font-family:Arial;
    background:#111;
    color:white;
}

#piano{
    display:flex;
    justify-content:center;
    margin-top:50px;
}

.key{
    width:60px;
    height:200px;
    background:white;
    border:1px solid black;
    margin:2px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    cursor:pointer;
    color:black;
}

.key.active{
    background:#ddd;
    transform:scale(0.97);
}

.note{
    font-size:14px;
    color:black;
    font-weight:bold;
}

.kbd{
    font-size:18px;
    color:#444;
    font-weight:bold;
}